<h1>Editing tax</h1>

<%= render "form", tax: @tax %>

<br>

<div>
  <%= link_to "Show this tax", @tax, class:"btn btn-secondary" %> |
  <%= link_to "Back to tax History", taxes_path, class:"btn btn-dark" %>
</div>
